.site-footer{
  background: $primary_color;
  color: $light_white;
  padding: 30px 0;
  a{
    color: $light_white;
    transition: color .3s ease;
    text-decoration: none;
    &:hover,
    &:focus{
      color: $white;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    &.contact-info{
      margin-top: 40px;
      li{
        a{
          i{
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &__primary{
    padding-bottom: 50px;
    .button{
      border-color: $light_white;
      margin-top: 5px;
      &:hover, &:focus{
        background: $light_white;
      }
    }
  }
  address{
    font-style: normal;
    strong{
      display: block;
    }
  }
  &__secondary{
    text-align: center;
    @include rem(font-size, 14px);
    font-weight: 700;
    p{
      margin-bottom: 0;
    }
  }
}
.footer-col{
  padding: 0 15px;
  margin-bottom: 20px;
  @media #{$header} {
    padding: 0 30px;
  }
  &__title{
    @include rem(font-size, 24px);
    margin-bottom: 10px;
  }
}
.footer-col1, .footer-col2{
  width: 20%;
  @media #{$header} {
    width: 50%;
  }
  @media #{$phone} {
    width: 100%;
  }
}
.footer-col3{
    width: 35%;
  padding-right: 80px;
  @media #{$header} {
    width: 50%;
    padding-right: 30px;
  }
  @media #{$phone} {
    width: 100%;
    margin-bottom: 60px;
  }
}
.footer-col4{
  width: 25%;
  @media #{$header} {
    width: 50%;
  }
  @media #{$phone} {
   width: 100%;
  }
}
.footer-col3,
.footer-col4{
  margin-top: 15px;
  @media #{$header} {
   margin-top: 0;
  }
}
.footer-menu{
  li{
    margin-bottom: 15px;
    a{
      font-weight: 800;
      font-family: $font__main_alt;
    }
  }
}
