.site-header{
  background: $primary_color;
  padding-bottom: 18px;
  z-index: 5;
  position: relative;
  @media #{$header} {
   padding-bottom: 30px;
  }
  @media #{$phone} {
    padding: 18px 0 13px;
  }
  &__primary{
    @media #{$phone} {
     display: none;
    }
    .flex{
      justify-content: space-between;
    }
  }
  &__secondary{
    > .flex{
      justify-content: flex-start;
    }
  }
  &__secondary-right {
    width: calc(100% - 145px);
    justify-content: flex-end;
    align-items: center;
    @media #{$phone} {
      width: calc(100% - 200px);
    }
  }
  ul{
    list-style: none;
    margin: 0;
    &.quick-info{
      @media only screen and (max-width: 930px){
        margin-top: 20px;
      }
      @media #{$phone} {
       margin-top: 0;
      }
    }
    &.secondary-menu{
      @media #{$header} {
        margin: 25px 0 20px;
      }
    }
  }
  a{
    color: $light_white;
    @include rem(font-size, 16px);
    transition: color .3s ease;
    text-decoration: none;
    &:hover,
    &:focus{
      color: $white;
    }
  }
}
.site-logo{
  max-width: 145px;
  @media #{$phone} {
   margin-left: 50px;
  }
  a{
    display: block;
  }
}
.social-media{
  padding: 10px 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  li{
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.quick-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  li{
    margin-right: 30px;
    a{

    }
    &:last-child{
      margin-right: 0;
    }
  }
}