.secondary-menu{
  display: flex;
  flex-wrap: wrap;
  li{
    a{
      color: $light_white;
      padding: 12px 17px;
      line-height: 1.4;
      transition: color .3s ease;
      display: block;
      &:hover,
      &:focus{
        color: $white;
      }
    }
    &:last-child{
      a{
        border-left: 1px solid $light_white;
      }
    }
  }
}

/* Primary Navigation */
.primary-navigation{
  margin-right: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  @media only screen and (min-width: 1200px){
    margin-right:19%;
  }
  @media #{$header} {
    margin-right: 40px;
  }
  @media only screen and (max-width: 790px){
    margin-right: 30px;
  }
  @media #{$phone} {
    display: none;
  }
  .mobile-nav-open & {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($primary_color, 0.95);
    left: 0;
    top: 0;
    z-index: 4;
    padding-top: 0;
  }
  .menu{
    li{
      display: block;
      float: left;
      padding: 10px 13px;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;
      > a{
        font-weight: 800;
        text-transform: uppercase;
        font-family: $font__main_alt;
        .fas{
          color: $light_white;
          margin-left: 8px;
        }
      }
      &.has-children {
        padding-right: 30px;
        @media only screen and (max-width: 790px){
         padding-right: 20px;
        }
        > a{
          &:after{
            content: "\f0d7";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-left: 8px;
          }
        }
      }
      .sub-menu{
        background: $white;
        visibility: hidden;
        opacity: 0;
        min-width: 200px;
        position: absolute;
        transition: all 0.5s ease;
        margin: 10px 0 0;
        left: 0;
        display: none;
        padding: 0;
        li{
          float: none;
          padding: 0;
          a{
            color: $primary_color;
            padding: 10px 15px;
            font-weight: 600;
            display: block;
            transition: background .3s ease;
            text-transform: capitalize;
            &:hover,
            &:focus{
              background: $secondary_color_dark;
              color: $white;
            }
          }

        }
        &:hover{
          visibility: visible;
          opacity: 1;
          display: block;
        }
        .mobile-nav-open &{
          z-index: 5;
          margin-top: 0;
        }
      }
      &:hover{
        > ul {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
    }
    .mobile-nav-open &{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      li{
        padding: 0;
        float: none;
        a{
          padding: 10px 15px;
          max-width: inherit;
          display: block;
        }
      }
    }
  }
}

#mobile-nav-trigger {
  opacity: 0;
  visibility: hidden;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 15px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  z-index: 5;
  border: none;
  background: none;
  box-shadow: none;
  @media #{$phone} {
    opacity: 1;
    visibility: visible;
  }
  span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $light_white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 7px;
    }
    &:nth-child(3){
      top: 14px;
    }
    &.screen-reader-text{
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      top: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  &.open{
    opacity: 1;
    visibility: visible;
    span{
      &:nth-child(1){
        top: 10px;
        transform: rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
        left: -30px;
        visibility: hidden;
      }
      &:nth-child(3){
        top: 10px;
        transform: rotate(-135deg);
    }
    }
  }
}