/* Import Roboto Slab font  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700');
//font-family: 'Roboto Slab', serif;
//font-family: 'Open Sans', sans-serif;