body,
button,
input,
select,
textarea {
  color: $secondary_color;
  font-family: $font__main;
  line-height: $font__line-height-body;
  @include rem(font-size, 16px);
  font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font__main;
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: $font__line-heading;
  text-rendering: optimizeLegibility;
}

h1{
  @include rem(font-size, 48px);
  @media #{$header} {
    @include rem(font-size, 38px);
  }
}
h2{
  @include rem(font-size, 40px);
}
h3{
  @include rem(font-size, 36px);
}
h4{
  @include rem(font-size, 28px);
}
h5{
  @include rem(font-size, 24px);
}
h6{
  @include rem(font-size, 20px);
}