//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Container Class
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.cell{
  padding: 0 15px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.button{
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 9px 15px;
  display: inline-block;
  border-radius: 6px;
  background: $black;
  color: $light_white;
  transition: background-color .3s ease;
  &:hover,
  &:focus{
    color: $white;
    background: #000;
  }
  &--rounded{
    padding: 3px 11px 3px;
    border-radius: 25px;
    border: 2px solid $secondary_color_dark;
    color: $secondary_color_dark;
    background: transparent;
    &:hover,
    &:focus{
      background: $secondary_color_dark;
      color: $white;
    }
  }
}