/*!== Brand Colors == */

$white: #fff;
$primary_color: #354b58;
$primary_color_dark:#3c505c;
$secondary_color: #79a0ba;
$secondary_color_dark: #6a96b2;
$color__brand-success: #5cb85c;
$color__brand-alert: #ff0000;
$light_white: #808080;
$grey: #787a7b;
$black:#2e3134;

/*!== Typography == */

$font__main: 'Roboto Slab', serif;
$font__main_alt: 'Open Sans', sans-serif;
$font__line-height-body: 1.67;
$font__line-heading: 1.2;

/*== Theme Colors == */

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Media Queries
$header-width: 990px;
$tablet-width: 768px;
$phone-width: 767px;
$phone-portrait-width: 567px;


$header: 'screen and (max-width: #{$header-width})';
$tablet: 'screen and (max-width: #{$tablet-width})';
$phone: 'screen and (max-width: #{$phone-width})';
$phone-portrait: 'screen and (max-width: #{$phone-portrait-width})';
