/* Hero Block */
.hero-block{
  position: relative;
  background-position: center center;
  background-size: cover;
  min-height: 515px;
  @media #{$header} {
    min-height: 230px;
  }
  &:after{
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .flex{
    min-height: inherit;
    align-items: center;
  }
  &__content{
    position: relative;
    z-index: 1;
    color: $white;
    @include rem(font-size, 18px);
    p{
      margin: 0;
    }
  }
  h1{
    color: $white;
    margin-bottom: 5px;
  }
}
/*  Article Block Styling */
.article-block{
padding: 90px 0 80px;
  @media #{$phone} {
    padding: 30px 0 80px;
  }
}

.media-item{
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 20px;
  &__thumbnail{
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }
  &__title{
    @include rem(font-size, 24px);
    margin-bottom: 12px;
  }
  @media #{$phone} {
    width: 100%;
  }
}
.teaser-block{
  background: $primary_color_dark;
  color: $light_white;
  padding: 85px 0 80px;
  &__item-title{
    @include rem(font-size, 24px);
    margin-bottom: 10px;
  }
  &__item{
    padding: 0 15px;
    margin-bottom: 20px;
  }

}
.download-col{
  width: 50%;
  text-align: center;
  @media #{$header} {
    width: 100%;
  }
  &__content{
    padding: 60px;
  }
}
.testimonial-col{
  width: 25%;
  text-align: center;
  blockquote{
    margin: 0;
  }
  @media #{$header} {
    width: 50%;
  }
  @media #{$phone} {
    width: 100%;
  }
  &__header{
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__meta{
    font-style: italic;
    padding: 10px 0;
    @include rem(font-size, 14px);
    font-weight: 700;
    border-top:1px solid $light_white;
    span{
      display: block;
    }
  }
}
.news-col{
  width: 25%;
  @media #{$header} {
    width: 50%;
  }
  @media #{$phone} {
    width: 100%;
  }
  &__inner{
    padding: 30px 20px 20px;
    border: 2px solid #41535e;
    border-radius: 6px;
  }
  h3{
    @include rem(font-size, 20px);
    margin-bottom: 30px;
  }
  .button{
    border-color: $light_white;
    color: $light_white;
    &:hover,
    &:focus{
    background: $light_white;
      color: $white;
    }
  }
}